:root {
  --primary: rgb(255, 136, 0);
  --body: rgb(0, 0, 0);
  --card: rgba(48, 48, 48, 0.589);
  --btn-complete: rgb(73, 176, 73);
}
html {
  overflow-x: hidden;
}
body {
  font-family: sans-serif;
  background: var(--body);
  color: aliceblue;
  overflow-x: hidden;
}

.absolute {
  position: absolute;
  top: 0;
}
.absolute::before {
  content: "";
  height: 30vh;
  width: 50vw;
  filter: blur(300px);
  position: absolute;
  z-index: -1;
  background-color: #ffd045;
  background-image: linear-gradient(315deg, #ffd045 0%, #d14545 74%);
}

@media (max-width: 800px) {
  .absolute::before {
    filter: blur(250px);
    height: 50vh;
  }
}
